.message-form {
  display: flex;
  flex-direction: row;
  border-radius: 100px;
  background-color: white;
  width: 353px;
  height: 60px;
  justify-content: space-between;
}

.message-form > label {
  display: none;
}

#messageForm {
  border: none;
  outline: none;
  background-color: white;
  border-radius: 100px 0 0 100px;
  width: calc(100% - 80px);
  padding-left: 10px;
  color: black;
}

.sendBtn {
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  background-color: #59b9ff;
  border-radius: 100px;
}


