* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

*:focus {
  outline: 2px solid var(--dark-blue);
}

:root {
  --ligth-grey: #f4f8fe;
  --grey: #a6b0c7;
  --dark-blue: #324578;
  --light-blue: #59b9ff;
  --white: #ffffff;

  font-family: "Inter", sans-serif;
  color: var(--darkblue);

  --text-size-small: 14px;
  --text-size-medium: 16px;
}

body {
  background-color: var(--ligth-grey);
}

button {
  background-color: var(--light-blue);
  color: var(--white);
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
}

/* p {
  font-size: 16px;
} */
