* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

*:focus {
  outline: 2px solid var(--dark-blue);
}

:root {
  --ligth-grey: #f4f8fe;
  --grey: #a6b0c7;
  --dark-blue: #324578;
  --light-blue: #59b9ff;
  --white: #ffffff;

  font-family: "Inter", sans-serif;
  color: var(--darkblue);

  --text-size-small: 14px;
  --text-size-medium: 16px;
}

body {
  background-color: var(--ligth-grey);
  padding: 5px;
}

body > div {
  min-width: 300px;
  margin:  0 auto;
}

button {
  background-color: var(--light-blue);
  color: var(--white);
  border: none;
  border-radius: 25px;
  padding: 15px 15px;
  width: 100%;
}

input {
  border: none;
  outline: none;
  background-color: white;
  border-radius: 100px;
  width: calc(100% - 80px);
  padding-left: 10px;
  color: black;
  padding: 10px 15px;
}

@media (min-width: 700px) {
  body > div {
    width: 400px;
  }
}
