* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --ligthgrey: #F4F8FE;
  --darkblue: #324578;
  --light-blue: #59B9FF;

  font-family: "Lato", sans-serif;
  color: var(--darkblue)
}


body {
  margin: 0;
  outline: var(--darkblue);
  background-color: var(--darkblue);
  
}

button {
  background-color: var(--light-blue);
  color: white;
  border: none;
  border-radius: 20px;
}